html {
    background-color: #7395ae;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
}

body {
    margin: 0;
}

h1 {
    color: black;
    margin: 0.5em;
}

.accordion-conteiner .meme-body {
    margin: 0 auto;
    height: 0;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
}

.meme-img {
    max-width: 90vw;
}

.meme-body:focus>.meme-img,
.meme-body:active>.meme-img {
    filter: brightness(0.5);
}

.accordion-conteiner label {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    height: 1.7em;
    margin: 0 0.5em;
    display: flex;
    justify-content: space-between;
}

.accordion-conteiner input+label>img {
    content: url(./icon/plus.png);
    display: none;

}

.accordion-conteiner input:checked+label>img {
    content: url(./icon/minus.png);
}

.accordion-conteiner input {
    display: none;
}

.accordion-conteiner input:checked+label+.meme-body {
    height: auto;
}

.accordion-conteiner:hover>.meme-conteiner:active {
    color: rgb(255, 255, 255);
}

.accordion-conteiner:hover>.meme-conteiner:active>label>img {
    filter: invert(1);    
}

.accordion-conteiner:hover>.meme-conteiner {
    color: black;
}

.accordion-conteiner:hover>.meme-conteiner>label>img {
    filter: none;
    display: inline-block;
}