html {
    background-color: #7395ae;
    color: rgb(255, 255, 255);
}

body {
    margin: 0;
}

h1 {
    color: black;
    margin: 0.4em;
    font-size: 2rem;
}

span {
    font-size: 1em;
}

.accordion-conteiner {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 0.3rem;
    cursor: pointer;
}

.accordion-conteiner .meme-body {
    margin: 0 auto;
    height: 0;
    visibility: hidden;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transition: 2s opacity, 2s visibility;
}

.accordion-conteiner .meme-header {
    display: flex;
    justify-content: space-between;
}

.meme-img {
    max-width: 85vw;
    max-height: auto;
}

.meme-conteiner {
    border-top: solid 1px #ffffff21;
    padding: 0.2em;
}

.accordion-conteiner .meme-header {
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 0.5em;
    height: 1.6rem;
}

.meme-conteiner input+label>.meme-header>.icon {
    content: url(./icon/plus.png);
    display: none;
    opacity: 1;
    transition: 1s;
}

.meme-conteiner input:checked+label>.meme-header>.icon {
    content: url(./icon/plus.png);
    transform: rotate(45deg);
    opacity: 1;
    transition: 1s;
}

.accordion-conteiner input {
    display: none;
}

.meme-conteiner input:checked+label>.meme-body,
.meme-conteiner:hover input+label>.meme-body {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity 2s;
}

.accordion-conteiner:hover>.meme-conteiner {
    color: black;
    opacity: 1;
    transition: 0.2s;
}

.accordion-conteiner:hover>.meme-conteiner>label>.meme-header>.icon {
    filter: none;
    max-width: 1em;
    max-height: 1em;
    display: block;
    opacity: 1;
    transition: 1s;
}

.meme-conteiner:hover>label>.meme-header>.icon {
    display: block;
    max-width: 1em;
    max-height: 1em;
    opacity: 0.5;
    transition: 0.5s;
    transform: rotate(45deg);
    filter: invert(1);
}

.meme-conteiner input:checked+label {
    color: black;
}

.meme-conteiner:active>label>.meme-header>span {
    color: white;
    opacity: 1;
    transition: 1s;
}

@media (min-width: 820px) {
    h1 {
        font-size: 3rem;
    }

    span {
        font-size: 1.3em;
    }

    .accordion-conteiner .meme-header {
        height: 1.9rem;
    }

    .accordion-conteiner {
        margin: 0 5rem;
    }

    h1 {
        margin: 0 7rem;
    }

    .accordion-conteiner:hover>.meme-conteiner>label>.meme-header>.icon,
    .meme-conteiner:hover>label>.meme-header>.icon {
        max-width: 1.5em;
        max-height: 1.5em;
    }

}

@media (min-width: 1080px) {
    h1 {
        font-size: 4rem;
    }

    span {
        font-size: 2em;
    }

    .accordion-conteiner .meme-header {
        height: 2.8rem;
    }

    .accordion-conteiner {
        margin: 0 15rem;
    }

    h1 {
        margin: 0 17rem;
    }

    .accordion-conteiner:hover>.meme-conteiner>label>.meme-header>.icon,
    .meme-conteiner:hover>label>.meme-header>.icon {
        max-width: 2em;
        max-height: 2em;
    }
}

@media (hover: hover) {

    .meme-body:focus>.meme-img,
    .meme-body:active>.meme-img {
        filter: brightness(0.5);
    }

    .accordion-conteiner:hover>.meme-conteiner:active {
        color: rgb(255, 255, 255);
        opacity: 1;
        transition: 1s;
    }

    .accordion-conteiner:hover>.meme-conteiner:active>label>.meme-header>.icon {
        filter: invert(1);
    }
}